*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    color: rgb(36, 33, 33);
    font-family: 'Roboto Condensed';
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.6px;
}
.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.title{
    color: rgb(1, 53, 62);
    font-family: 'Raleway';
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.title::after{
    position: absolute;
    content: "/";
    color: rgb(0, 178, 160);
    width: 48px;
    height: 85px;
}

.header__top-inner{
    display: flex;
    align-items: center;
}

.header{
    background-color:#C0D2D4;
    background-image: url('../images/header-bg.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.header__top{
    padding-top: 35px;
    margin-bottom: 256px;
}
.header__nav-list{
    width: 710px;
    display: flex;
    justify-content: space-evenly
}

.header__nav{
    margin-left: 185px;
}
.header__nav-link{
    display: block;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.6px;
    text-decoration: none;
}
.header__nav-link:hover{
    border-bottom: 1px solid rgb(0, 178, 160);
}
.header__content-inner{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}
.header__content-text{
    color: rgb(0, 0, 0);
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.6px;
}
.header__content-posithion-logo{
    margin-bottom: 50px;
}
.header__content-text{
    margin-bottom: 315px;
}
.about{
    padding-top: 188px;
    padding-bottom: 200px;
}
.about__title{
    margin-bottom: 100px;
}

.about__inner{
    display: flex;
}
.about__iner-column{
    max-width: 480px;
    margin-right: 120px;
    margin-bottom: 30px;
}
.services{
    background-color:rgb(248, 248, 248);
    padding-top: 200px;
    padding-bottom: 200px;
}
.service__title{
    margin-bottom: 100px;
}
.service__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 102px;
}
.service__item{
    width: 350px;
    position: relative;
}
.service__item-title{
    color: rgb(36, 33, 33);
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-left: 140px;
}
.service__item-title-first{
    margin-bottom: 34px;
}
.service__item--home{
    background-image: url('../images/home-icon.svg');
    background-repeat: no-repeat;
}
.service__item--flight{
    background-image: url('../images/flight-icon.svg');
    background-repeat: no-repeat;
}
.service__items--study{
    background-image: url('../images/study-icon.svg');
    background-repeat: no-repeat;   
}
.service__info{
    width: 346px;
    flex: none;
}
.service__info-item{
    background-image: url('../images/info-vector-icon.svg');
    background-repeat: no-repeat;
}

.service__info-text{
    padding: 20px;
}
.service__inner{
    display: flex;
    justify-content: space-between;
}
.service__text{
    max-width: 600px;
}
.service__text p{
    margin-bottom: 30px;
}
.progress__inner{
    max-width: 507px;
    margin-right: auto;
    padding: 200px 0 200px;
}
.progress{
    background-image: url('../images/progress-bg.jpeg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size:50%;
}
.progress__title{
    margin-bottom: 100px;
    margin-right: 90px;
}
.progress__text p{
    margin-bottom: 30px;
}
.gallery{
    padding-bottom: 200px;
}
.gallery__title{
    margin-bottom: 212px;
}
.gallery__top{
    margin-bottom: 50px;
}
.gallery__btn{
    color: rgb(36, 33, 33);
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.6px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    margin-right: 20px;
}
.gallery__item-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#4C4A4A;
    opacity: 0;
    transition: all .3s;
}
.gallery__item:hover .gallery__item-link{
    opacity: 0.7;
}
.mixitup-control-active{
    color: rgb(0, 178, 160);
}
.gallery__content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.gallery__item img{
    width: 100%;
}
.gallery__item{
   margin-bottom:20px;
   margin-right:20px;
   position: relative;
}
.gallery__add{
    display: block;
    margin: 0 auto;
    margin-bottom: 200px;
    width: 350px;
    height: 70px;
    border: 1px solid rgb(196, 196, 196);
    background: rgb(255, 255, 255);
    color: rgb(36, 33, 33);
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.6px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 91px;
    padding-right: 91px;
}
.blockquote{
    text-align: center;
    padding-top: 80px;
    background: rgb(248, 248, 248);
    color: rgb(36, 33, 33);
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.6px;
    margin-bottom: 200px;
}
.blockquote__author{
    display: block;
    width: 730px;
    margin: 0 auto;
    color: rgb(36, 33, 33);
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 80px;
    text-align: right;
}
.gallery__video{
    background-image: url('../images/video.jpeg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.gallery__numbers{
    display: flex;
    justify-content: space-around;
}
.gallery__numbers-item{
    color: rgb(1, 53, 62);
    font-family: 'Roboto Condensed';
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.6px;
    margin-bottom: 5px;
    text-align: center;
}
.gallery__numbers-item span{
    color: rgb(36, 33, 33);
    font-family: 'Roboto Condensed';
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.6px;
    display: block;
}
.blog__title{
    margin-bottom: 229px;
}
.blog__slider{
    min-height: 600px;
    background-image: url('../images/blog-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 77px;

    
}
.blog__slider-item-title{
    width: 600px;
    margin-left: auto;
    padding-top: 200px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed';
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.blog__slider-item-link{
    text-decoration: none;
}

.blog__slider-item-desc{
    width: 600px;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed';
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.6px;
    margin-bottom: 259px;
}
.slick-dots{
    display: flex;
    justify-content: center;
}
.slick-dots li + li{
    margin-left: 15px;
}
.slick-dots button{
    background: rgb(255, 255, 255);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    border: none;

}
.slick-dots .slick-active button{
    background: rgb(0, 178, 160);
}
.team{
    padding: 200px 0 200px;
}
.team__title{
    margin-bottom: 212px;
}
.team__items{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.team__name{
    margin-top: 25px;
    color: rgb(36, 33, 33);
    font-family: 'Roboto Condensed';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.6px;
}
.team__position{
    color: rgb(36, 33, 33);
    font-family: 'Roboto Condensed';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.6px;
}